/*
This script was created by Visual Studio on 11/10/2019 at 18:44.
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.
*/
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @cant int
SELECT @cant = count(*) from [dbo].[Products]
IF (@cant > 0) RETURN
DECLARE @pv binary(16)
BEGIN TRANSACTION
ALTER TABLE [dbo].[CartItems] DROP CONSTRAINT [FK_dbo.CartItems_dbo.Products_ProductId]
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
ALTER TABLE [dbo].[OrderDetails] DROP CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
ALTER TABLE [dbo].[OrderDetails] DROP CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
ALTER TABLE [dbo].[Rainchecks] DROP CONSTRAINT [FK_dbo.Rainchecks_dbo.Stores_StoreId]
ALTER TABLE [dbo].[Rainchecks] DROP CONSTRAINT [FK_dbo.Rainchecks_dbo.Products_ProductId]
SET IDENTITY_INSERT [dbo].[Stores] ON
INSERT INTO [dbo].[Stores] ([StoreId], [Name]) VALUES (1, N'Store1')
INSERT INTO [dbo].[Stores] ([StoreId], [Name]) VALUES (2, N'Store2')
INSERT INTO [dbo].[Stores] ([StoreId], [Name]) VALUES (3, N'Store3')
SET IDENTITY_INSERT [dbo].[Stores] OFF
SET IDENTITY_INSERT [dbo].[Rainchecks] ON
INSERT INTO [dbo].[Rainchecks] ([RaincheckId], [Name], [ProductId], [Count], [SalePrice], [StoreId]) VALUES (1, N'John Smith1923929452', 18, 3, 33.94, 1)
INSERT INTO [dbo].[Rainchecks] ([RaincheckId], [Name], [ProductId], [Count], [SalePrice], [StoreId]) VALUES (2, N'John Smith1735149371', 12, 5, 31.26, 1)
INSERT INTO [dbo].[Rainchecks] ([RaincheckId], [Name], [ProductId], [Count], [SalePrice], [StoreId]) VALUES (3, N'John Smith2034237595', 14, 5, 68.92, 2)
SET IDENTITY_INSERT [dbo].[Rainchecks] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON
INSERT INTO [dbo].[Categories] ([CategoryId], [Name], [Description], [ImageUrl]) VALUES (1, N'Brakes', N'Brakes description', N'product_brakes_disc.jpg')
INSERT INTO [dbo].[Categories] ([CategoryId], [Name], [Description], [ImageUrl]) VALUES (2, N'Lighting', N'Lighting description', N'product_lighting_headlight.jpg')
INSERT INTO [dbo].[Categories] ([CategoryId], [Name], [Description], [ImageUrl]) VALUES (3, N'Wheels & Tires', N'Wheels & Tires description', N'product_wheel_rim.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON
SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT INTO [dbo].[AspNetUsers] ([Id], [Name], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'02f2feae-6012-47c8-be4b-3b04682b6dc2', NULL, N'Administrator@test.com', 0, N'AFg0+LrPMrc85pceoo4+GOxUhE+g4hDbv9f9wBd7lYqbGNtu7iiuBqNnQUD6NQavsw==', N'b1e7718d-777a-452e-918e-875080a96896', NULL, 0, 0, NULL, 1, 0, N'Administrator@test.com')
INSERT INTO [dbo].[AspNetUsers] ([Id], [Name], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2d1598c2-e284-4edf-9e5c-52d638b5186f', NULL, N'maduva@microsoft.com', 0, N'AO0SbGaBXrGt2djIgs8j4ZXvM6cwtgEUjE/t+TlPyxThQ5hl7zyhx7fYGsvAyLHwJg==', N'5f6f2a8d-3b1c-460f-8c81-36a2bb5e8f05', NULL, 0, 0, NULL, 1, 0, N'maduva@microsoft.com')
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON
INSERT INTO [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (1, N'02f2feae-6012-47c8-be4b-3b04682b6dc2', N'ManageStore', N'Allowed')
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
INSERT INTO [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'09675c60-4620-4ea3-a786-f7762ee3e674', N'Administrator')
INSERT INTO [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'02f2feae-6012-47c8-be4b-3b04682b6dc2', N'09675c60-4620-4ea3-a786-f7762ee3e674')
ALTER TABLE [dbo].[CartItems]
    ADD CONSTRAINT [FK_dbo.CartItems_dbo.Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Products] ([ProductId]) ON DELETE CASCADE
ALTER TABLE [dbo].[AspNetUserRoles]
    ADD CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [dbo].[AspNetRoles] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[AspNetUserRoles]
    ADD CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [dbo].[AspNetUsers] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[AspNetUserClaims]
    ADD CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [dbo].[AspNetUsers] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[AspNetUserLogins]
    ADD CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [dbo].[AspNetUsers] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[OrderDetails]
    ADD CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Orders] ([OrderId]) ON DELETE CASCADE
ALTER TABLE [dbo].[OrderDetails]
    ADD CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Products] ([ProductId]) ON DELETE CASCADE
ALTER TABLE [dbo].[Products]
    ADD CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY ([CategoryId]) REFERENCES [dbo].[Categories] ([CategoryId]) ON DELETE CASCADE
ALTER TABLE [dbo].[Rainchecks]
    ADD CONSTRAINT [FK_dbo.Rainchecks_dbo.Stores_StoreId] FOREIGN KEY ([StoreId]) REFERENCES [dbo].[Stores] ([StoreId]) ON DELETE CASCADE
ALTER TABLE [dbo].[Rainchecks]
    ADD CONSTRAINT [FK_dbo.Rainchecks_dbo.Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [dbo].[Products] ([ProductId]) ON DELETE CASCADE
COMMIT TRANSACTION
